@model GalleryResults
@using BlazorDiffusion.UI
@using BlazorDiffusion.ServiceModel

<div class="@Html.ClassNames("grid", AppCss.GetGridClass(Model.GridColumns ?? 5))">
@foreach (var artifact in Model.Artifacts.OrEmpty())
{
    @await Html.PartialAsync("_StaticImage", artifact)
}
</div>
