@page "/favorites"
@attribute [Authorize]
@inherits AppAuthComponentBase

<Home Page="AppPage.Favorites">

    <div class="mt-8 mx-auto shadow overflow-hidden sm:rounded-md w-[450px] sm:w-[600px]">
    </div>

    <ArtifactGallery Artifacts=@UserState.LikedArtifacts ResolveBorderColor="GetBorderColor" />

</Home>
