@page "/"
@using Ljbc1994.Blazor.IntersectionObserver.Components
@inherits AppAuthComponentBase
@inject NavigationManager NavigationManager

<Home Page="AppPage.Search">

    <form @onsubmit="submit" @onsubmit:preventDefault
        class="mt-8 p-4 mx-auto shadow overflow-hidden sm:rounded-md w-[450px] sm:w-[600px]">
    <CascadingValue Value="api.Error">
        <input class="hidden" type="submit" />
        <ErrorSummary Except=@VisibleFields />

        <TextInput @bind-Value="request.Query" Label="" placeholder="Search existing images" @onkeypress="OnKeyPress" />

    </CascadingValue>
    </form>

    <div class="flex">
        @if (SelectedUser != null)
        {
            <div class="z-10 flex-shrink mr-2">
                <div class=@ClassNames("flex flex-col -ml-4 justify-center items-center", SelectedUser.Handle != null ? "-mt-40" : "-mt-36")>

                    <div class="">
                        <NavLink href=@($"/?user={SelectedUser.RefId}")>
                            <AvatarImage class=@ClassNames("w-24 h-24 p-2", show == null ? "text-yellow-600 hover:text-yellow-400" : "text-cyan-600 hover:text-cyan-400 cursor-pointer") User=@SelectedUser />
                            @if (SelectedUser.Handle != null)
                            {
                                <div title=@($"@{SelectedUser.Handle}") class="text-sm text-gray-400 text-center overflow-hidden max-w-[6rem]">@($"@{SelectedUser.Handle}")</div>
                            }
                        </NavLink>
                    </div>

                    <div class="mb-2">
                        <NavLink href=@($"/?user={SelectedUser.RefId}&show=likes")>
                            <svg class=@ClassNames("w-24 h-24", show == "likes" ? "text-red-600 hover:text-red-400" : "text-cyan-600 hover:text-cyan-400 cursor-pointer")
                             xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <path fill="currentColor" d="M4.244 12.252a4.25 4.25 0 1 1 6.697-5.111h1.118a4.25 4.25 0 1 1 6.697 5.111L11.5 19.51l-7.256-7.257Zm15.218.71A5.25 5.25 0 1 0 11.5 6.167a5.25 5.25 0 1 0-7.962 6.795l7.962 7.961l7.962-7.96Z" />
                            </svg>
                        </NavLink>
                    </div>

                    @foreach (var userAlbum in SelectedUser.Albums)
                    {
                        var albumCover = UserState.GetAlbumCoverArtifact(userAlbum);
                        @if (albumCover != null)
                        {
                            <NavLink href=@($"/?user={SelectedUser.RefId}&album={userAlbum.AlbumRef}")>
                                <div class=@ClassNames("mt-2 hover:opacity-80 cursor-pointer h-24 w-24 overflow-hidden rounded-lg border-2",
                                    album == userAlbum.AlbumRef ? "border-yellow-400" : "border-transparent")>
                                    <ArtifactImage Artifact=@albumCover class="flex w-full h-full" ImageClass="object-cover" />
                                </div>
                            </NavLink>
                        }
                    }
                </div>
            </div>
            <div class="flex-grow">
                <ArtifactGallery Artifacts=@results>
                    <LeftHeader>
                    <div class="w-1/3 pl-2 -mr-20 flex items-center">
                    @if (SelectedAlbum != null)
                    {
                        <div class="text-xl">@SelectedAlbum!.Name</div>
                    }
                    else if (show == "likes")
                    {
                        <div class="text-xl">Likes</div>
                    }
                    else
                    {
                        <div class="text-xl">Creations</div>
                    }
                    </div>
                    </LeftHeader>
                    <RightHeader>
                    <div class="w-1/3 flex items-center justify-end pr-4">
                    @if (SelectedAlbum != null)
                    {
                        <div class="flex">
                        @if (UserState.HasLiked(SelectedAlbum))
                        {
                            <svg @onclick="UnlikeAlbumAsync" @onclick:stopPropagation @onclick:preventDefault
                                    class="cursor-pointer w-8 h-8 text-red-600 hover:text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <title>undo like</title>
                                <path fill="currentColor" d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z" />
                            </svg>
                        }
                        else
                        {
                            <svg @onclick="LikeAlbumAsync" @onclick:stopPropagation @onclick:preventDefault
                                 class="cursor-pointer w-8 h-8 text-cyan-600 hover:text-cyan-400" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <title>like album</title>
                                <path fill="currentColor" d="M12 21c-.645-.572-1.374-1.167-2.145-1.8h-.01c-2.715-2.22-5.792-4.732-7.151-7.742c-.446-.958-.683-2-.694-3.058A5.39 5.39 0 0 1 7.5 3a6.158 6.158 0 0 1 3.328.983A5.6 5.6 0 0 1 12 5c.344-.39.738-.732 1.173-1.017A6.152 6.152 0 0 1 16.5 3A5.39 5.39 0 0 1 22 8.4a7.422 7.422 0 0 1-.694 3.063c-1.359 3.01-4.435 5.521-7.15 7.737l-.01.008c-.772.629-1.5 1.224-2.145 1.8L12 21ZM7.5 5a3.535 3.535 0 0 0-2.5.992A3.342 3.342 0 0 0 4 8.4c.011.77.186 1.53.512 2.228A12.316 12.316 0 0 0 7.069 14.1c.991 1 2.131 1.968 3.117 2.782c.273.225.551.452.829.679l.175.143c.267.218.543.444.81.666l.013-.012l.006-.005h.006l.009-.007h.01l.018-.015l.041-.033l.007-.006l.011-.008h.006l.009-.008l.664-.545l.174-.143c.281-.229.559-.456.832-.681c.986-.814 2.127-1.781 3.118-2.786a12.298 12.298 0 0 0 2.557-3.471c.332-.704.51-1.472.52-2.25A3.343 3.343 0 0 0 19 6a3.535 3.535 0 0 0-2.5-1a3.988 3.988 0 0 0-2.99 1.311L12 8.051l-1.51-1.74A3.988 3.988 0 0 0 7.5 5Z" />
                            </svg>
                        }
                        </div>
                    }
                    </div>
                    </RightHeader>
                </ArtifactGallery>
            </div>
        }
        else
        {
            <div class="z-10 flex-shrink mr-2">
                <div class=@ClassNames("flex flex-col -ml-4 mt-8 pt-2 justify-center items-center")>
                    <div class="text-sm text-gray-500">top albums</div>
                    @foreach (var userAlbum in UserState.TopAlbums)
                    {
                        var albumCover = UserState.GetAlbumCoverArtifact(userAlbum);
                        @if (albumCover != null)
                        {
                            <NavLink href=@($"/?album={userAlbum.AlbumRef}")>
                                <div class=@ClassNames("mt-2 hover:opacity-80 cursor-pointer h-24 w-24 overflow-hidden rounded-lg border-2",
                                    album == userAlbum.AlbumRef ? "border-yellow-400" : "border-transparent")>
                                    <ArtifactImage Artifact=@albumCover class="flex w-full h-full" ImageClass="object-cover" />
                                </div>
                            </NavLink>
                        }
                    }
                </div>
            </div>

            <div class="flex-grow">
                <ArtifactGallery Artifacts=@results>
                    <LeftHeader>
                    <div class="w-1/3 pl-2 -mr-20 flex items-center">
                    @if (SelectedAlbum != null)
                    {
                        <div class="text-xl">@SelectedAlbum!.Name</div>
                    }
                    </div>
                    </LeftHeader>
                    <RightHeader>
                    <div class="w-1/3 flex items-center justify-end pr-4">
                    @if (SelectedAlbum != null)
                    {
                        <div class="flex">
                        @if (UserState.HasLiked(SelectedAlbum))
                        {
                            <svg @onclick="UnlikeAlbumAsync" @onclick:stopPropagation @onclick:preventDefault
                                    class="cursor-pointer w-8 h-8 text-red-600 hover:text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <title>undo like</title>
                                <path fill="currentColor" d="M2 8.4A5.4 5.4 0 0 1 7.5 3A5.991 5.991 0 0 1 12 5a5.991 5.991 0 0 1 4.5-2A5.4 5.4 0 0 1 22 8.4c0 5.356-6.379 9.4-10 12.6C8.387 17.773 2 13.76 2 8.4Z" />
                            </svg>
                        }
                        else
                        {
                            <svg @onclick="LikeAlbumAsync" @onclick:stopPropagation @onclick:preventDefault
                                 class="cursor-pointer w-8 h-8 text-cyan-600 hover:text-cyan-400" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24">
                                <title>like album</title>
                                <path fill="currentColor" d="M12 21c-.645-.572-1.374-1.167-2.145-1.8h-.01c-2.715-2.22-5.792-4.732-7.151-7.742c-.446-.958-.683-2-.694-3.058A5.39 5.39 0 0 1 7.5 3a6.158 6.158 0 0 1 3.328.983A5.6 5.6 0 0 1 12 5c.344-.39.738-.732 1.173-1.017A6.152 6.152 0 0 1 16.5 3A5.39 5.39 0 0 1 22 8.4a7.422 7.422 0 0 1-.694 3.063c-1.359 3.01-4.435 5.521-7.15 7.737l-.01.008c-.772.629-1.5 1.224-2.145 1.8L12 21ZM7.5 5a3.535 3.535 0 0 0-2.5.992A3.342 3.342 0 0 0 4 8.4c.011.77.186 1.53.512 2.228A12.316 12.316 0 0 0 7.069 14.1c.991 1 2.131 1.968 3.117 2.782c.273.225.551.452.829.679l.175.143c.267.218.543.444.81.666l.013-.012l.006-.005h.006l.009-.007h.01l.018-.015l.041-.033l.007-.006l.011-.008h.006l.009-.008l.664-.545l.174-.143c.281-.229.559-.456.832-.681c.986-.814 2.127-1.781 3.118-2.786a12.298 12.298 0 0 0 2.557-3.471c.332-.704.51-1.472.52-2.25A3.343 3.343 0 0 0 19 6a3.535 3.535 0 0 0-2.5-1a3.988 3.988 0 0 0-2.99 1.311L12 8.051l-1.51-1.74A3.988 3.988 0 0 0 7.5 5Z" />
                            </svg>
                        }
                        </div>
                    }
                    </div>
                    </RightHeader>
                </ArtifactGallery>
            </div>
        }
    </div>

    <div @ref="BottomElement" class="flex justify-center">
        @if (api.IsLoading)
        {
            <Loading class="text-gray-300 font-normal" ImageClass="w-7 h-7 mt-1.5" Message="loading..." />
        }
    </div>

</Home>
