@page "/"
@inject NavigationManager NavigationManager

<Home Browse=@true>

    <div class="mt-8 mx-auto shadow overflow-hidden sm:rounded-md w-[450px] sm:w-[600px]">
        <h1 class="text-center">TODO Browse Images</h1>
    </div>

</Home>
