@page "/album"
@inherits AppComponentBase

<h1 class="my-4 text-2xl text-center">@SelectedAlbum?.Name</h1>

<StaticGallery Results=@GalleryResults GridColumns="GridColumns"></StaticGallery>

@code {
    [Inject] NavigationManager NavigationManager { get; set; }

    public const int GridColumns = 4;

    [Parameter, SupplyParameterFromQuery] public string? RefId { get; set; }

    SearchArtifacts request = new();
    List<Artifact> results = new();
    HashSet<int> resultIds = new();
    bool hasMore;

    ApiResult<QueryResponse<ArtifactResult>> api = new();
    public AlbumResult? SelectedAlbum;
    GalleryResults GalleryResults = new();

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        if (RefId == null) return;

        request.Album = RefId;
        request.Skip = 0;
        request.Take = UserState.StaticTake;
        api = await ApiAsync(request);
        clearResults();

        if (api.Succeeded)
        {
            if (api.Response?.Results != null)
            {
                addResults(api.Response.Results);
            }
        }

        var apiAlbum = await ApiAsync(new GetAlbumResults { RefIds = new() { RefId } });
        if (apiAlbum.Succeeded)
        {
            SelectedAlbum = apiAlbum.Response?.Results.FirstOrDefault();
            if (SelectedAlbum != null)
            {
                SetTitle(SelectedAlbum.Name);
            }
        }
    }

    void setResults(IEnumerable<Artifact> results)
    {
        this.results = results.ToList();
        GalleryResults = X.Apply(GalleryResults.Clone(), x => x.Artifacts = this.results.ShuffleGridArtifacts(GridColumns).ToList());
        StateHasChanged();
    }
    
    void clearResults()
    {
        results.Clear();
        resultIds.Clear();
    }

    void addResults(List<ArtifactResult> artifacts, bool reset = false)
    {
        if (reset)
            clearResults();

        hasMore = artifacts.Count >= request.Take;
        foreach (var artifact in artifacts)
        {
            if (resultIds.Contains(artifact.Id))
                continue;

            resultIds.Add(artifact.Id);
            results.Add(artifact);
        }
        setResults(results);
    }
}
