@page "/admin/creatives"
@attribute [Authorize(Roles = "Admin")]
@inherits AuthBlazorComponentBase

@inject NavigationManager NavigationManager

<Breadcrumbs class="mb-8" HomeHref="/admin">
    <Breadcrumb>
        Creatives
    </Breadcrumb>
</Breadcrumbs>

<Tabs TabOptions="TabOptions" TabChanged="TabChanged" />

<AutoQueryGrid Model="Creative" Apis="Apis.AutoQuery<QueryCreatives, UpdateCreative, HardDeleteCreative>()"
               @ref="autoQueryGrid"
               RowSelected="RowSelected"
               ConfigureQuery="ConfigureQuery">
    <EditForm>
        @if (reviewItem != null)
        {
            <div class="relative z-10" aria-labelledby="slide-over-title" role="dialog" aria-modal="true">
                <div class="">
                    <div class="">
                        <div class="pointer-events-none fixed inset-y-0 right-0 flex max-w-full pl-10 sm:pl-16">
                            <CreativeEdit Creative="reviewItem" OnClose="Close" 
                                OnDelete="Delete" OnSave="Save"
                                EditPanelCss=@editPanelClass></CreativeEdit>
                        </div>
                    </div>
                </div>
            </div>
        }
    </EditForm>
    <Columns>
        <Column Title="User" Field="(Creative x) => x.OwnerId"/>
        <Column Title="Id" Field="(Creative x) => x.Id"/>
        <Column Field="(Creative x) => x.Modifiers">
            <Template>
                @if (context.Modifiers?.Count > 0)
                {
                    <TextLink class="flex" href=@($"/admin/modifiers?Ids={string.Join(",", context.Modifiers.Select(x => x.ModifierId))}")>
                        <Icon class="w-6 h-6 mr-1" Image=@typeof(Modifier).GetIcon()/>
                        @TextUtils.Pluralize("Modifier", context.Modifiers)
                    </TextLink>
                }
            </Template>
        </Column>
        <Column Field="(Creative x) => x.Artists">
            <Template>
                @if (context.Artists?.Count > 0)
                {
                    <TextLink class="flex" href=@($"/admin/artists?Ids={string.Join(",", context.Artists.Select(x => x.ArtistId))}")>
                        <Icon class="w-6 h-6 mr-1" Image=@typeof(Artist).GetIcon()/>
                        @TextUtils.Pluralize("Artist", context.Artists)
                    </TextLink>
                }
            </Template>
        </Column>
        <Column Field="(Creative x) => x.Artifacts">
            <Template>
                @if (context.Artifacts?.Count > 0)
                {
                    <TextLink class="flex" href=@($"/admin/artifacts?CreativeId={context.Id}")>
                        <Icon class="w-6 h-6 mr-1" Image=@typeof(Artifact).GetIcon()/>
                        @TextUtils.Pluralize("Artifact", context.Artifacts)
                    </TextLink>
                }
            </Template>
        </Column>
        <Column Field="(Creative x) => x.Key"/>
        <Column Field="(Creative x) => x.CreatedDate" Format="s"/>
        <Column Field="(Creative x) => x.UserPrompt"/>
    </Columns>
</AutoQueryGrid>


@code {

    [Parameter, SupplyParameterFromQuery]
    public string? Edit { get; set; }

    public Creative? reviewItem = null;
    AutoQueryGrid<Creative> autoQueryGrid = default!;

    public string? Tab { get; set; }
    public Dictionary<string, string> TabOptions = new()
    {
        {"All","All"},
        {"MissingPrimaryArtifact","Missing Primary Artifact"}
    };

    string editPanelClass = "show";

    void ConfigureQuery(QueryBase query)
    {
        switch(Tab)
        {
            case "MissingPrimaryArtifact":
                query.AddQueryParam("PrimaryArtifactId", "");
                break;
            default:
                break;
        }
    }

    async Task TabChanged(string tab)
    {
        Tab = tab;
        if(autoQueryGrid != null)
            await autoQueryGrid.RefreshAsync();
    }

    async Task RowSelected(Creative item)
    {
        reviewItem = item;
        editPanelClass = "show";
    }

    async Task Close()
    {
        editPanelClass = "hidden";
        reviewItem = null;
    }

    async Task Save()
    {
        await autoQueryGrid.RefreshAsync();
    }

    async Task Delete()
    {
        await autoQueryGrid.RefreshAsync();
    }
}