@page "/admin"
@attribute [Authorize(Roles = "Admin")]

<div class="bg-white dark:bg-black">
    <main class="mx-auto w-full max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="flex-shrink-0 pt-8">
            <img class="mx-auto h-20 w-auto" src="/img/blazor.svg" alt="Blazor Diffusion">
        </div>
        <div class="mx-auto max-w-xl py-8 sm:py-16">
            <div class="text-center">
                <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 dark:text-gray-100 sm:text-5xl">
                    Creative Admin
                </h1>
                <p class="mt-2 text-lg text-gray-500 dark:text-gray-400">
                    Manage Creatives support tables
                </p>
            </div>
            <div class="mt-12">

                <NavList Title="Creative Admin">
                    <NavListItem Title="Creatives" href="/admin/creatives" Icon=@typeof(Creative).GetIcon()>
                        Create and Manage Creatives
                    </NavListItem>
                    <NavListItem Title="Artifacts" href="/admin/artifacts" Icon=@typeof(Artifact).GetIcon()>
                        Create and Manage Creative Artifacts
                    </NavListItem>
                    <NavListItem Title="Artists" href="/admin/artists" Icon=@typeof(Artist).GetIcon()>
                        Create and Manage Artists
                    </NavListItem>
                    <NavListItem Title="Modifiers" href="/admin/modifiers" Icon=@typeof(Modifier).GetIcon()>
                        Create and Manage Modifiers
                    </NavListItem>
                    <NavListItem Title="Artifact Reports" href="/admin/artifact-reports" Icon=@typeof(ArtifactReport).GetIcon()>
                        Action Artifact Reports
                    </NavListItem>
                    <NavListItem Title="Albums" href="/admin/albums" Icon=@typeof(Album).GetIcon()>
                        Create and Manage Albums
                    </NavListItem>
                    <NavListItem Title="Album Artifacts" href="/admin/album-artifacts" Icon=@typeof(AlbumArtifact).GetIcon()>
                        View Album Artifacts
                    </NavListItem>
                    <NavListItem Title="Signups" href="/admin/signups" Icon=@typeof(Signup).GetIcon()>
                        View and Manage Signups
                    </NavListItem>
                    <NavListItem Title="Artifact Stats" href="/admin/artifact-stats" Icon=@typeof(ArtifactStat).GetIcon()>
                        View Artifact Stats
                    </NavListItem>
                    <NavListItem Title="Search Stats" href="/admin/search-stats" Icon=@typeof(SearchStat).GetIcon()>
                        View Search Stats
                    </NavListItem>
                </NavList>

            </div>
        </div>
    </main>
</div>
