@inherits UiComponentBase

@if (Artifact != null)
{
    <div class=@ClassNames("overflow-hidden", Class) style=@Artifact.GetBackgroundStyle()>
        <img alt=@Artifact.Prompt width=@width height=@height class=@ImageClass
            src=@(useSrc ?? Artifact.GetPublicUrl()) loading=@loading
                @onerror=@(() => useSrc = Artifact.GetImageErrorUrl(useSrc))>
    </div>
}

@code {
    [Inject] public UserState UserState { get; set; } = default!;
    [Parameter, EditorRequired] public Artifact? Artifact { get; set; } = default!;
    [Parameter] public int? MinSize { get; set; }
    [Parameter] public string loading { get; set; } = "lazy";
    [Parameter] public string ImageClass { get; set; }

    int width => MinSize == null ? Artifact!.Width
        : (int)(Artifact!.Width > Artifact.Height
            ? (Artifact.Width / (double)Artifact.Height) * MinSize.Value
            : MinSize.Value);

    int height => MinSize == null ? Artifact!.Height
        : (int)(Artifact!.Height > Artifact.Width
            ? (Artifact.Height / (double)Artifact.Width) * MinSize.Value
            : MinSize.Value);

    string? useSrc;

    protected override async Task OnParametersSetAsync()
    {
        await base.OnParametersSetAsync();
        useSrc = null;
    }
}
