@inherits UiComponentBase

<div class=@ClassNames("relative z-10", Class) aria-labelledby="modal-title" role="dialog" aria-modal="true">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white dark:bg-black text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired] public RenderFragment? ChildContent { get; set; }
}
